.content {
    position: relative;
    z-index: 999;
}

.filter {

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;


    height: 60px;
    width: 200px;

    border-radius: 6px;
    background: white;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 0px 10px  rgba(0, 0, 0, 0.1);

}

.content ul {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 200px;
    height: 200px;
    list-style-type: none;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 0px 10px  rgba(0, 0, 0, 0.1);
}

.content ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
}

.content .show {
    display: flex;
}

.dark .filter,
.dark ul {
    background: #2b3945;
    color: white;
}

