.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    width: 100%;

    padding: 0px 50px;
    margin-bottom: 30px;
    position: relative;
    top: 0;
    z-index: 1;

    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    background: white;
    
}

.header h1 {
    font-size: 22px;
}

.dark {
    background: hsl(209, 23%, 22%);
    color: white;
}


@media (max-width: 767px) {

    .header {
        justify-content: space-around;
        padding: 0px;
    }
    .header h1{
        font-size: 18px;
        flex-shrink: 0;
    
    }
}

